.container-fluid{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.footer{
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    background-color:#e5e5e5;
}