body{
    font-family: 微软雅黑;
    margin: 0;
    background-color: white ;
}
.top{
    height: 60px;
    width: 100%;
    background-color: #29b1bf;
    margin-bottom: 10px;
}
.container-fluid{
    padding: 0;
}
.card1,.card2,.card3,.card4,.card5,.card6,.card7,.card8{
    padding-left: 2px;
    padding-right: 2px;
}/* 栏之间的间距*/
.card{
    padding: 5px;
    width: 100%;
}
.card img{
    width: 100%;
    height: auto;
}